@page "{restaurantId:int}"
<!--What the path should look like to reach the page.-->

<!--We can also mark the parameter as optional.-->
<!--page "{id?:int}"-->

@model OdeToFoodApplication.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.Restaurant.Name</h2>
<div>
    <p>Id: @Model.Restaurant.Id</p>
    <p>Location: @Model.Restaurant.Location</p>
    <p>Cuisine: @Model.Restaurant.Cuisine</p>
</div>

<a asp-page="./List" class="btn btn-info">All restaurants</a>